.model-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: serif;
}

button{
  margin: 10px;
  height: 40px;
  width: 120px;
  background-color: #4935ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  transition: all  0.3s ease;
}

button:active{
  transform: scale(0.96);
  background-color:  rgba(73, 53, 255, 0.29);

}

.modal-content{
  z-index: 1;
  width: 80%;
  height: 60%;
  background-color: rgb(255, 255, 255 , 1) ;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submit-button{
  margin: 10px;
  height: 30px;
  width: 90px;
  background-color: #4935ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 12px;
}

input{
  width:  80%;
  height: 30px;
  border:  1px solid black;
  border-radius: 5px;
  margin-top: 8px;
  margin-bottom: 8px;
}

label{
  font-size: 18px;
  font-weight: 700;
}

.modal{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(189, 189, 189, 0.8);
  z-index: 0;
}